h2 {
    text-align: center;
}

body {
    background-color: rgb(250, 250, 255);
}

.layout {
    position: relative;

    min-width: 320px;
    min-height: 100%;
    margin: 90px 0;
}

.container {
    position: relative;

    margin: 0 auto;
    width: 800px;
    height: 630px;

    background-color: white;

    /* border: 1px solid rgba(0, 0, 0, 0.23); */
    border-radius: 10px;
    box-shadow: 4px 4px 8px 6px rgba(0, 0, 0, 0.03);

    display: flex;
    justify-content: center;
    align-items: center;
}

.component {
    padding: 0 220px;

    text-align: center;

    width: 100%;
    height: 100%;
}

.hello {
    font-size: 24px;
    font-weight: 600;
    color: rgb(30, 30, 30);

    margin: 140px 0px 50px 0px;
}

.btn_component {
    margin-top: 30px;
    padding-bottom: 10px;
}

.footer_component {
    margin-top: 100px;
}

.ddss {
    text-decoration: underline;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.73);

    margin: 5px 0 5px 0;
}

.footer_link {
    text-decoration: underline;
    font-weight: 600;
    line-height: 0.7cm;
    color: rgb(110, 110, 110);

    margin: 10px;

    font-size: 14px;
}

.separator {
    border-top: 1px solid rgba(0, 0, 0, 0.23);
    margin: 20px 0;
}